/* Main Styles */
* {
box-sizing: border-box;
}

body {
background-color: ghostwhite;
height: 100%; 
margin: 0 auto; 
font-size: 1rem; 
width: 95%; 
}
.heeadshot {
width: 60%;
margin: 0 auto;
padding: 1rem 1rem 1rem 1rem;
}
.main-name {
background-color: white;
text-align: center;
display: block;
margin: 0 auto;
padding: 2rem 2rem;
}

ul {
list-style-type: none;
background-color: whitesmoke;
text-transform: uppercase;
display: table;
width: 100%;

}

li {
padding: .5em;
margin: .5rem 0 .5rem 0;
} 

ul li {
margin: .5rem 0 .5rem 0;
}

.main-name, .main-nav, li {
    background-color: white;
    padding: 1rem 0;
    text-align: center;
    margin: 0;
    display: block;
}


h2 {
font-weight: bold;
padding: 2rem 0 2rem 0;
text-transform: uppercase;
}

h3 {
font-weight: bold;
padding: 2rem 0 2rem 0;
}

h4 {
    display: inline-block;
}

p {
font-size: 1.25rem;
}
/* Link Boxes */

a:link, a:visited {
    padding: 10px 5px;
    text-decoration: none;
    display: inline-block;
    color: black;
    font-weight: bold;
   }
  
 /* Boxes */

.banner {;
display: block;
margin: 0 auto;
text-align: center;
width: 100%;
background-color: whitesmoke;
}


.col {
 
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
img {
    max-width: 92.5%;
    margin: 0 auto:
    
}
div, col {
    padding: 2rem 0 2rem 0;
}

.container {
   width: 100%;
    margin: 0 auto;
    height: auto;
    
}

.top-footer {
    width: 95%;
    text-align: center;
    margin: 0 auto;
    padding: 2rem 0 2rem 0;
    border-bottom: 1px solid grey;
}


   

.bottom-name, .back-t {
    display: inline;
}
.bottom-footer {
   

}

/* Media Queries */

@media (min-width: 769px) {
   
    .main-nav li {
       display: inline-block;
       border: none;
   }
   .banner, img {
       float: right;


   }
  .col {
      width: 45%;
      float: left;
  }

   .clearfix::after {
    content: " ";
    display: table;
    clear: both;

  }
   
}
@media (min-width: 1025px) {
.container {
    width: 99%;
    max-width: 1150px;

}
.col {
    width: 31%;
}
}
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
{