/* Main Styles */


body {
background-color:antiquewhite;    
}

.main-name {
background-color: cyan;
text-align: center;
display: block;
margin: 0 auto;
border: 1px solid black;
padding: 32px 32px;
}

ul {
list-style-type: none;
padding: 0px;
text-transform: uppercase;
border: 1px solid grey;

}

li {
padding: .5em;
border-bottom: 1px solid grey;

} 

ul li:last-child {
border-bottom: none;
}

.main-nav, li {
    background-color: whitesmoke;
    padding: 10px 0;
    text-align: center;
    }



/* Link Boxes */

a:link, a:visited {
    padding: 10px 5px;
    text-decoration: none;
    display: inline-block;
   }
  
 
.banner {
border: 1px solid black;
display: block;
margin: 0 auto;
text-align: center;
}

.container {
   width: 100%;
    margin: 0 auto;
    text-align: center;
}

footer {
text-align: center;
}

}

.top-footer {
    width: 85%;
    text-align: center;
    margin: 0 auto;
}

.bottom-name {
    float: left;
}
.back-t {
    float: right;
    
   
}
.bottom-name, .back-t {
    display: inline;
}
.bottom-footer {
    border-top: 2px solid lightgray;
}

/* Media Queries */

@media (min-width: 769px) {
   
    .main-nav li {
       display: inline-block;
       border: none;
   }
   .banner, img {
       float: right;


   }
  .col {
      width: 45%;
      float: left;
  }

   .clearfix::after {
    content: " ";
    display: table;
    clear: both;

  }
   
}
@media (min-width: 1025px) {
.container {
    width: 99%;
    max-width: 1150px;

}
.col {
    width: 31%;
}
}
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
