/* Main Styles */
* {
box-sizing: border-box;
}

body {
background-color: whitesmoke;
height: 100%; 
margin: 0 auto; 
font-size: 1rem; 
width: 95%; 
}

.heeadshot {
width: 60%;
margin: 0 auto;
padding: 1rem 1rem 1rem 1rem;
}

.main-name {
background-color: white;
text-align: center;
display: block;
margin: 0 auto;
padding: 1rem 1rem;
background-color: whitesmoke;
}

header {
    background-color:whitesmoke;
}

address {
    font-style: normal;
    font-size: 1.2rem;
}

.main {

    margin:0 auto;
}
/* Navigation */
ul {
list-style-type: none;

text-transform: uppercase;
width: 100%;
margin-top: 0;
margin-bottom: 0;
}

ul li {
margin: .5rem 0 .5rem 0;
background-color: white;
}

.main-name, .main-nav, li {
padding: 1rem 0;
text-align: center;
  }

  .main-name, .main-nav, ul, li, a {
    display:block;
    text-decoration:none;
}

a:link, a:visited {
   
    text-decoration: none;
    display: inline-block;
    color: black;
    font-weight: bold;
   }



h2 {
font-weight: bold;
padding: 1.5rem 0 1.5rem 0;
text-transform: uppercase;
text-align: center;
clear: both;
width: 100%;
}

h3 {
font-weight: bold;
padding: 1rem 0 1rem 0;
}

h4 {
    display: inline-block;
}

p {
font-size: 1.25rem;
}

  .porto {
      margin-top: 1rem;
      background-color: white;
      margin: 0 auto;
  }
 /* Boxes */

.banner {
display: block;
margin: 0 auto;
text-align: center;
width: 100%;
background-color: whitesmoke;
margin-bottom: 2rem;
padding: 0;

}


.col {
 
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}
img {
    max-width: 92.5%;
    margin: 0 auto;
    }

div, col {
    padding: .5rem 0 .5rem 0;
    
}


/* .col + .col {
    padding-left: 1em;
  }
  
  .col:last-child {
    padding-right: 0;
  } */

.container {
   width: 100%;
    margin: 0;
    height: auto;
    background-color: white;
    padding: 0;
    
}

.top-footer {
    width: 95%;
    text-align: center;
    margin: 0 auto;
    padding: 1rem 0 1rem 0;
    border-bottom: 1px solid grey;
}
.bottom-footer {
    width:100%;
 
    margin: 0 auto;
} 

.bottom-name {
    float: left;
    margin: 0;
    padding: 1rem 0 4rem 0;
    font-size: 1.2rem

}
.back-t {
    float: right;
    padding: 1rem;
    font-size: 1.2rem;
}


/* Media Queries */

@media (min-width: 769px) {
    
    .main-nav li {
    display: inline-block;
    width: 31%;
    background-color: whitesmoke;
      
       }
   .banner, img {
       float: right;


   }
  .col {
      width: 45%;
      float: left;
     
  }

   .clearfix::after {
    content: " ";
    display: table;
    clear: both;

  }
   
}
@media (min-width: 1025px) {


.main-name {
    float:left;
   
}

.main-nav {
    float: right;
    width: 30%;
   
  
}
.main-nav li {
    background-color: whitesmoke;
}

.container {
    width: 99%;
    max-width: 1150px;
}
.col {
    width: 31%;
}
}
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}